div.project div.jumbotron {
	text-align: center;
	padding: 3rem;
	height: 100%;
}

div.project div.jumbotron div {
	text-align: left;
}

div.project h2 {
	margin-bottom: 3rem;
}

div.project div.jumbotron.project {
	border-radius: 2rem;
	margin-top: 2rem;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-bottom: 10rem;
}

div.project img.projectImage {
	float: left;
	width: 48%;
	margin-right: 4%;
}
