div.imageLinks {
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

div.imageLinksContainer > div.jumbotron {
	text-align: center;
	padding: 3rem;
	border-radius: 2rem;
	margin: 10rem;
}